/*CSS RESET*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*END CSS RESET*/

/*ELEMENTARY*/
:root {
  --main-white: #E0E0E0;
	--vanilla: #FFE39C;
  --bronze: #7C703D;
	--muted-red: #551117;
	--muted-blue: #3D5467;
	--deep-gray: #121217;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
	color: var(--main-white);
	background-color: var(--deep-gray);
	text-align: center;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
	font-size: 2rem;
  padding: 2rem 0.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
	display: block;
}

section {
  padding-top: 6rem;
	padding-bottom: 3rem;
}

/*END ELEMENTARY*/

/*COMPOSITION*/
.hero {
	height: min(50vh, 50vw);
	width: min(50vh, 50vw);
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
	font-size: 2rem;
  background: var(--muted-red);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.page-fill{
	min-height: 90vh;
}

.nav {
	height:6vh;
}
.nav-list {
	display: flex;
	margin-top: 0;
	margin-bottom: 0;
  margin-right: 2rem;
	height: 100%;
}


.nav-list li {
	height: 100%;
}

.nav-list a {
  display: flex;
  font-size: 2.2rem;
	margin: 0;
	height: 100%;
	align-items: center;
	vertical-align: middle;
  padding-left: 2rem;
	padding-right: 2rem;
	transition: background 0.3s ease-out;
}

.nav-buffer {
	min-height: 10vh;
}

.intro {
	max-width: 600px;
	margin: 0 auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.grid{
	display: grid;
	justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 4rem;
	float: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}


.btn {
  display: inline-block;
  padding: 2rem 2rem;
  border-radius: 4px;
  font-size: 2rem;
  background: var(--deep-gray);
  transition: background 0.3s ease-out;
}

.btn:hover {
  background: var(--muted-red);
}


.card{
	width: 400px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.card-image {
	border-radius: 4px;
  width: 100%;
  object-fit: cover;
}
.code {
	color: rgba(0, 0, 0, 0);
	transition: color 0.3s ease-out;
	padding: 0;
	margin: 0;
	white-space:nowrap;
}

.card:hover .code {
  color: #ff7f50;
}

.light-background{
	background: var(--muted-blue);
}

.dark-background{
	background: var(--deep-gray);
}

.contact-links {
  width: 100%;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

footer {
  font-weight: 300;
  display: block;
  padding: 2rem;
  background: var(--deep-gray);
  border-top: 4px solid var(--muted-red);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}
/*END COMPOSITION*/

/*BLOCK*/

/*END BLOCK*/

/*EXCEPTION*/
.nav-list a:hover {
  background: var(--muted-blue);
}

.contact-details:hover {
  transform: translateY(6px);
}
/*END EXCEPTION*/
